/* Animation en vague du nom du site dans le header */
@keyframes wiggleWiggle {
    20%,
    100% {
      transform: translate(0, 3px);
    }
    0% {
      transform: translate(0, 0px);
    }
    10% {
      transform: translate(0, 3px);
    }
}

/* Animation de scroll du background de l'écran titre */
@keyframes scroll{
  0% {background-position:0 0;}
  100% {background-position:0 100%;}
}

/**
 * ----------------------------------------
 * animation scale-in-ver-center
 * ----------------------------------------
 */
 @-webkit-keyframes scale-in-ver-center {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    opacity: 1;
  }
}
@keyframes scale-in-ver-center {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    opacity: 1;
  }
}
