*,
body {
  margin: 0;
  padding: 0;
}

/* Footer */
footer {
    bottom: 0;
    position: fixed;
    height: 40px;
    background-color: black;
    width: 100%;
    display: block;
    z-index: 5;
}

footer .pied {
    position: relative;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    width: 50%;
    line-height: 40px;
    margin-left: auto;
    margin-right: auto;
}

footer .pied a {
    text-decoration: none;
    color: #ffffff;
}

footer .pied a:visited {
    color: #ffffff;
}


/* Couleurs */
.rouge {
    color: #ff6464;
}

.blanc {
    color: #ffffff;
}


/* Audio */
.btn-audio{
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    position: absolute;
    right: 25px;
    top: 10px;
}

.btn-audio button{
    margin-top : 10px;
}